<div class="task">
  <input
    name="task"
    [value]="task"
    [ngClass]="getInputClass()"
    (focus)="focus()"
    (blur)="blur()"
    (input)="onTaskInput($event)"
  />
  <button (click)="onDeleteClick()" class="button">Delete</button>
</div>
