.task {
  display: flex;
  width: 500px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid;
}

.input {
  outline: none;
  border: none;
  font-size: 20px;
}

.green {
  border-bottom: 5px solid green;
}

.button {
  margin-left: auto;
}
