<form (submit)="onAddUTask($event)" >
  <label>Add new task
    <input
      name="taskName"
      [(ngModel)]="task"
    />
    <button>Add</button>
  </label>
</form>
<hr>
<app-task
  *ngFor="let tasksTodo of tasks; let i = index"
  [task]="tasksTodo.task"
  (delete)="onDeletePerson(i)"
  (taskChange)="changeTask(i, $event)"
>
</app-task>
